<input class="{{fc}}" />
<br />
<input [class]="exp == true ? bgLight : formControl" />
<br />

<input class="{{exp == true ? bgLight : formControl}}" />
<br />
<button [disabled]='isDisabled'>Try Me property</button>
<br />
<button disabled='{{isDisabled}}'>Try Me interplution</button>
<br />
<button bind-disabled='isDisabled'>Try Me bind</button>
<br />

<input #searchBox />

<button (click)="Callphone(searchBox.value)">Call</button>
<br />

<input [ngModel]="username" (ngModelChange)="username = $event">

<p>Hello {{username}}!</p>

