<div class="container">
  <img src="../assets/images/bornaheader.png" class="w-100 rounded-top mb-1 z-depth-1" />
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 pr-0">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 pl-1">
      <div id="cssmenu">
        <ul>
          <li class="active"><a><span></span></a></li>
          <li class='has-sub'>
            <a><span>کارتابل</span></a>
            <ul>
              <li><a [routerLink]="['new']">نامه جدید<img src="../assets/images/newletter.png" class="subimage" /></a></li>
              <li><a [routerLink]="['received']">نامه های دریافتی<img class="subimage" src="../assets/images/inbox.png" /></a></li>
              <li><a [routerLink]="['sended']">نامه های ارسال شده<img class="subimage" src="../assets/images/sended.png" /></a></li>
              <li><a [routerLink]="['entry']">ثبت نامه<img class="subimage" src="../assets/images/newdoc.png" /></a></li>
              <li><a [routerLink]="['search']">جستجوی نامه ها<img class="subimage" src="../assets/images/showdoc.png" /></a></li>
            </ul>
          </li>
          <li class='has-sub'>
            <a><span>دبیرخانه</span></a>
            <ul>
              <li><a [routerLink]="['indicator']">ثبت اندیکاتور<img src="../assets/images/office.png" class="subimage" /></a></li>
              <li><a [routerLink]="['news']">اخبار و اطلاعیه ها<img class="subimage" src="../assets/images/notification.png" /></a></li>
            </ul>
          </li>
          <li class='has-sub'>
            <a><span>حساب کاربری</span></a>
            <ul>
              <li><a [routerLink]="['users']">ثبت کاربران<img class="subimage" src="../assets/images/adduser.png" /></a></li>
              <li><a [routerLink]="['editusers']">ویرایش حساب کاربری<img class="subimage" src="../assets/images/edituser.png" /></a></li>
            </ul>
          </li>
          <li class='has-sub'>
            <a><span>تماس با ما</span></a>
            <ul>
              <li><a id="ContactUs" data-toggle="modal" data-target="#contactUsmodal">ارتباط با ما<img class="subimage" src="../assets/images/contactus.png" /></a></li>
              <li><a id="aboutUs" data-toggle="modal" data-target="#aboutUsmodal">درباره ما<img class="subimage" src="../assets/images/aboutus.png" /></a></li>
            </ul>
          </li>
          <li><a href="login.aspx"><span><img src="../assets/images/signout.png" class="exit" />خروج</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade sans" id="contactUsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="contactUsImage" src="../assets/images/contactus1.png" />
      </div>
      <div class="modal-body text-center" id="contactinputarea">
        <p class="sans-small">
          برای تماس با ما و ارائه نظرات و پیشنهادات خود می توانید
          از طریق فرم زیر اقدام به ارسال پیغام نمایید ... توجه داشته باشید
          ...که اطلاعات ارسالی در این سیستم محفوظ بوده و منتشر نخواهد شد
        </p>
        <hr style="margin: 10px;" />
        <input class="form-control mb-2" type="text" id="txtName" required placeholder="نام و نام خانوادگی" />
        <input type="text" id="txtEmail" class="form-control mb-2 sans text-right" required placeholder="آدرس ایمیل" />
        <input type="text" id="txtPhone" class="form-control mb-2" required placeholder="شماره تماس" />
        <textarea id="txtMessage" class="form-control mb-2" style="resize: none" rows="5" required placeholder="پیام"></textarea>
        <div class="mt-2 text-left">
          <button type="button" class="btn btn-success" id="btnSend">
            <img id="loading" class="loading-sm" src="../assets/images/loading.gif" />
            ارسال
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="aboutUsmodal" class="modal fade sans" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="contactUsImage" src="../assets/images/aboutus1.png" />
      </div>
      <div class="modal-body text-center">
        <div style="width: 100%; margin-bottom: 15px;">
          <img src="../assets/images/aboutus.png" style="width: auto; height: 120px;" />
        </div>
        <div style="width: 100%;">
          <label style="width: 85%;" class="sans-small">
            <div><span class="fa fa-certificate"></span><span class="fa fa-certificate"></span><span class="fa fa-certificate"></span></div>
            <p style="line-height: 25px;" class="text-center">
              شرکت فنی و مهندسی برناگستر از سال 1390 فعالیت خود را در زمینه طراحی و اجرای
              سیستم های اتوماسیون اداری , نرم افزارهای PM (مدیریت و برنامه ریزی)
              و همچنین طراحی و اجرای سیستم های آماری شرکت های خصوصی با خط تولید خاص شروع نموده است.
            </p>
            <p style="line-height: 25px;" class="text-center">
              این شرکت با تکیه بر توان داخلی و بکارگیری مهندسان متخصص و استفاده از مشاوران سیستم های اتوماسیون اداری و مدیریت برنامه ریزی
              توانسته است برنامه ها و نرم افزار های ساده و کاربردی و در عین حال پیچیده ای را طراحی و برنامه ریزی نماید.
            </p>
            <p style="line-height: 25px;" class="text-center">
              هدف این شرکت رضایت مشتری , بهترین مشاوره برای داشتن بهترین تولید و بهینه سازی سیستم های اتوماسیون اداری شرکت ها و کارخانجاتی است که رسیدن به بالاترین سطح کیفیت جز
              اهداف آنها می باشد.
            </p>
          </label>
        </div>
      </div>
      <div class="modal-footer text-right">
        <label style="margin: 0;" class="sans-small">
          <span>شماره های تماس  :</span>&nbsp;&nbsp;<span>05157257048</span>  -  <span>حسینی 09120280730</span>  -  <span>مختاری 09190152706</span>
          <span class="fa fa-phone-square"></span>
        </label>
      </div>
    </div>
  </div>
</div>

<link href="../assets/css/contactus.css" rel="stylesheet" />
<script src="../assets/js/contactusJS.js"></script>
