<div class="card rtl text-right sans">
  <div class="card-header text-white bg-primary">ارسال نامه</div>
  <div class="card-body">
    <div class="w-100 ltr">
      <input class="form-control text-center" readonly style="width: 25%" placeholder="تاریخ"
             [(ngModel)]="selectedDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
    </div>
    <hr class="mt-0" />
    <div class="row">
      <div class="col-md-6">
        عنوان نامه
        <input class="form-control" dir="rtl" />
      </div>
      <div class="col-md-6">
        فرستنده
        <input class="form-control" dir="rtl" readonly />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div id="RecieverBadgeArea">
          <span class="sans-xsmall bg-default text-white m-1 pl-1 pr-1 rounded"
                (click)="removeBadge($event)"
                *ngFor="let receiver of receivers">{{receiver}}</span>
        </div>
        <input class="form-control" placeholder="جستجوی گیرنده ..." />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div id="ReplicaBadgeArea p-1"></div>
        <input class="form-control" placeholder="رونوشت به ..." />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        متن رونوشت
        <textarea class="form-control" rows="3" style="resize: none;"></textarea>
      </div>
    </div>
    <hr />
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 pr-3">
            <p>نیاز به پاسخ</p>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="reposnse-yes" name="resp">
              <label class="custom-control-label" for="reposnse-yes">دارد</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="response-no" name="resp" checked>
              <label class="custom-control-label" for="response-no">ندارد</label>
            </div>
          </div>
          <div class="col-md-3 pr-3 border-right">
            <p>سایز نامه</p>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="A4size" name="size" checked>
              <label class="custom-control-label" for="A4size">A4</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="A5size" name="size">
              <label class="custom-control-label" for="A5size">A5</label>
            </div>
          </div>
          <div class="col-md-6 pr-3 border-right" dir="rtl">
            <p>نوع نامه</p>
            <div class="custom-control custom-radio custom-control-inline mr-1">
              <input type="radio" class="custom-control-input" id="adi" name="type" checked>
              <label class="custom-control-label" for="adi">عادی</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline  mr-1">
              <input type="radio" class="custom-control-input" id="eb" name="type">
              <label class="custom-control-label" for="eb">ابلاغیه</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline  mr-1">
              <input type="radio" class="custom-control-input" id="mo" name="type">
              <label class="custom-control-label" for="mo">مهم</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline  mr-1">
              <input type="radio" class="custom-control-input" id="fo" name="type">
              <label class="custom-control-label" for="fo">فوری</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline mr-1">
              <input type="radio" class="custom-control-input" id="khfo" name="type">
              <label class="custom-control-label" for="khfo">خیلی فوری</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body pt-0 bg-light">
            <div class="row mt-3" dir="rtl">
              <div class="col-md-6">
                مدت زمان پاسخ
                <input type="number" class="form-control" />
              </div>
              <div class="col-md-6">
                &nbsp;
                <select class="form-control">
                  <option value="1">نامحدود</option>
                  <option value="2">ساعت</option>
                  <option value="3">روز</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 pr-3">
      <div class="col-md-3 border-right">
        <p>پیوست</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" [value]="true" [checked]="hasfile" [(ngModel)]="hasfile" id="pdar">
          <label class="custom-control-label" for="pdar">دارد</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" [value]="false" [checked]="!hasfile" [(ngModel)]="hasfile" id="pnadar">
          <label class="custom-control-label" for="pnadar">ندارد</label>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card" *ngIf="hasfile">
          <div class="card-body pt-2 pb-2 text-right bg-light">
            <div>انتخاب فایل ها</div>
            <input style="direction: rtl;" multiple type="file" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-left">
        <button class="btn btn-info" data-toggle="modal" data-target="#letter-modal">تولید نامه</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="letter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <router-outlet></router-outlet>
      </div>
      <div class="modal-footer d-block">
        <button type="button" id="btn" class="btn btn-primary sans">ارسال نامه</button>
      </div>
    </div>
  </div>
</div>
