<div class="card rtl text-right sans">
  <div class="card-header text-white bg-primary">ارسال نامه</div>
  <div class="card-body">
    <div class="w-100 ltr">
      <input class="form-control text-center" readonly style="width: 25%" placeholder="تاریخ"
             [(ngModel)]="selectedDate" [dpDayPicker]="datePickerConfig" theme="dp-material" />
    </div>
    <hr class="mt-0" />
    <div class="row">
      <div class="col-md-6">
        عنوان نامه
        <input class="form-control" dir="rtl" [(ngModel)]="letterSubject"/>
      </div>
      <div class="col-md-6">
        فرستنده
        <input class="form-control" dir="rtl" readonly [(ngModel)]="sender"/>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 position-relative">
        <div id="RecieverBadgeArea">
          <span class="sans-xsmall bg-primary text-white m-1 pl-1 pr-1 rounded"
                (click)="removeBadge(receiver.id)"
                *ngFor="let receiver of receivers">{{receiver.text}}</span>
        </div>
        <app-search [config]="receiverConfig" (output)="createCompanyList($event)"></app-search>
        <div id="receiverDropDown" class="w-100 position-absolute">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div id="ReplicaBadgeArea">
          <span class="sans-xsmall bg-default text-white m-1 pl-1 pr-1 rounded"
                (click)="removeReplicaBadge(rep.id)"
                *ngFor="let rep of replica">{{rep.text}}</span>
        </div>
        <app-search [config]="replicaConfig" (output)="createReplicaList($event)"></app-search>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        متن رونوشت
        <textarea class="form-control" rows="3" style="resize: none;" [(ngModel)]="replicaText"></textarea>
      </div>
    </div>
    <hr />
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 pr-3">
            <p>نیاز به پاسخ</p>
            <div class="button-group">
              <input type="radio" id="reposnse-yes" name="resp" [value]="true" [(ngModel)]="needResponse" [checked]="needResponse">
              <label for="reposnse-yes">دارد</label>
              <input type="radio" id="response-no" name="resp" checked [value]="false" [(ngModel)]="needResponse" [checked]="!needResponse">
              <label for="response-no">ندارد</label>
            </div>
          </div>
          <div class="col-md-3 pr-3 border-right">
            <p>سایز نامه</p>
            <div class="button-group">
              <input type="radio" id="A4size" name="size" checked [value]="true" [(ngModel)]="letterSize" [checked]="letterSize">
              <label for="A4size">A4</label>
              <input type="radio" id="A5size" name="size" [value]="false" [(ngModel)]="letterSize" [checked]="!letterSize">
              <label for="A5size">A5</label>
            </div>
          </div>
          <div class="col-md-6 pr-3 border-right" dir="rtl">
            <p>نوع نامه</p>
            <div class="button-group">
              <input type="radio" id="adi" name="type" checked [value]="0" [(ngModel)]="letterType">
              <label for="adi">عادی</label>
              <input type="radio" id="eb" name="type" [value]="1" [(ngModel)]="letterType">
              <label for="eb">ابلاغیه</label>
              <input type="radio" id="mo" name="type" [value]="2" [(ngModel)]="letterType">
              <label for="mo">مهم</label>
              <input type="radio" id="fo" name="type" [value]="3" [(ngModel)]="letterType">
              <label for="fo">فوری</label>
              <input type="radio" id="khfo" name="type" [value]="4" [(ngModel)]="letterType">
              <label for="khfo">خیلی فوری</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body bg-light">
            <p>مدت زمان پاسخ</p>
            <div class="row" dir="rtl">
              <div class="col-md-6">
                <div class="button-group mt-1">
                  <input type="radio" [value]="1" [(ngModel)]="responseType" id="unlimit" name="response-type">
                  <label for="unlimit">نامحدود</label>
                  <input type="radio" [value]="2" [(ngModel)]="responseType" id="hours" name="response-type">
                  <label for="hours">ساعت</label>
                  <input type="radio" [value]="3" [(ngModel)]="responseType" id="days" name="response-type">
                  <label for="days">روز</label>
                </div>
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control text-center" placeholder="مدت زمان" [(ngModel)]="responseTime" *ngIf="responseType !== 1"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-body bg-light mt-3">
      <p>پیوست</p>
      <div class="row">
        <div class="col-md-6 border-right">
          <div class="button-group">
            <input type="radio" [value]="true" [checked]="hasfile" [(ngModel)]="hasfile" id="pdar" name="attachment">
            <label for="pdar">دارد</label>
            <input type="radio" [value]="false" [checked]="!hasfile" [(ngModel)]="hasfile" id="pnadar" name="attachment">
            <label for="pnadar">ندارد</label>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="hasfile">
            <span>انتخاب فایل ها</span>
            <input style="direction: rtl;" multiple type="file"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-left">
        <button class="btn btn-info" (click)="createLetter()">تولید نامه</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" id="letter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <router-outlet></router-outlet>
      </div>
      <div class="modal-footer d-block">
        <button type="button" id="btn" class="btn btn-primary sans">ارسال نامه</button>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>

<ckeditor [editor]="Editor" [config]="editConfig"></ckeditor>
