<div class="card rtl text-right sans">
  <div class="card-header text-white bg-primary">ارسال نامه</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-5">
        عنوان نامه
        <input class="form-control" dir="rtl" />
      </div>
      <div class="col-md-5">
        فرستنده
        <input class="form-control" dir="rtl" readonly />
      </div>
      <div class="col-md-2">
        تاریخ
        <input class="form-control text-center" id="txtdate" readonly />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div id="RecieverBadgeArea p-1"></div>
        <input class="form-control" placeholder="جستجوی گیرنده ..." />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div id="ReplicaBadgeArea p-1"></div>
        <input class="form-control" placeholder="رونوشت به ..." />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        متن رونوشت
        <textarea class="form-control" rows="3" style="resize: none;"></textarea>
      </div>
    </div>
    <hr />
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 pr-3 border-right">
            نیاز به پاسخ
            <div class="button-group" dir="rtl">
              <input type="radio" id="darad" data="1" name="resp">
              <label for="darad">دارد</label>
              <input type="radio" id="nadarad" data="0" name="resp" checked>
              <label for="nadarad">ندارد</label>
            </div>
          </div>
          <div class="col-md-3 pr-3 border-right">
            سایز نامه
            <div class="button-group" dir="rtl">
              <input type="radio" id="a4" data="1" name="lesize" checked>
              <label for="a4">A4</label>
              <input type="radio" id="a5" data="0" name="lesize">
              <label for="a5">A5</label>
            </div>
          </div>
          <div class="col-md-6 pr-3 border-right" dir="rtl">
            نوع نامه
            <div class="button-group">
              <input type="radio" id="adi" data="1" name="letype" checked>
              <label for="adi">عادی</label>
              <input type="radio" id="eb" data="2" name="letype">
              <label for="eb">ابلاغیه</label>
              <input type="radio" id="mo" data="3" name="letype">
              <label for="mo">مهم</label>
              <input type="radio" id="fo" data="4" name="letype">
              <label for="fo">فوری</label>
              <input type="radio" id="khfo" data="5" name="letype">
              <label for="khfo">خیلی فوری</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body pt-0 bg-light">
            <div class="row mt-3" dir="rtl">
              <div class="col-md-6">
                مدت زمان پاسخ
                <input type="number" class="form-control" />
              </div>
              <div class="col-md-6">
                &nbsp;
                <select class="form-control">
                  <option value="1">نامحدود</option>
                  <option value="2">ساعت</option>
                  <option value="3">روز</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 pr-3">
      <div class="col-md-12 border-right">
        پیوست
        <div class="button-group" dir="rtl">
          <input type="radio" id="pdar" data="1" name="attach">
          <label for="pdar">دارد</label>
          <input type="radio" id="pnadar" data="0" name="attach" checked>
          <label for="pnadar">ندارد</label>
        </div>
      </div>
    </div>
    <div class="row mt-3" dir="rtl">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body pt-2 pb-2 text-right bg-light">
            <div>انتخاب فایل ها</div>
            <input style="direction: rtl;" multiple type="file" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
        $('#txtdate').JalaliDateTime();
</script>
