<div class="w-100 text-center p-5 sans">
  <form class="card card-body w-50 m-auto">
    <p class="h4 mb-4">ورود به سیستم</p>
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4 text-right rtl" placeholder="نام کاربری">
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4 text-right rtl" placeholder="رمز عبور">
    <div class="d-flex justify-content-around">
      <div class="sans">
        <!-- Remember me -->
        <div class="custom-control custom-checkbox align-middle">
          <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
          <label class="custom-control-label" for="defaultLoginFormRemember">مرا به خاطر بسپار</label>
        </div>
      </div>
      <div class="sans">
        <!-- Forgot password -->
        <a href="">رمز عبور خود را فراموش کرده اید؟</a>
      </div>
    </div>
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">ورود</button>
  </form>
</div>
